//<FORM>
// Снипет (HTML):
.form {

	&__row {}

	&__column {}

	&__line {}

	&__input {}

	&__button {}

	&__error {
		position: absolute;
		bottom: rem(-40);
		padding: rem(10) rem(10);
		background-color: red;
		border-radius: rem(5);
		z-index: 2;
		transition: 0.2s;
	}
}

//</FORM>

// <BUTTONS>
// Снипет (HTML): btn
// @import "button";

// <INPUTS>
// Снипет (HTML): inp
// @import "input";

// <CHECK>
// Снипет (HTML): chk
// @import "checkbox";

// <RADIO>
// Снипет (HTML): opt
// @import "radio";

// <SELECT>
// Снипет (HTML): sel
// @import "select";

// <RATING>
// Снипет (HTML): rating
// @import "rating";

// <QUANTITY>
// Снипет (HTML): qa
// @import "quantity";

// <RANGE>
// Снипет (HTML):
// @import "range";